/*
* Пока это прототип
* Думали, что будем поддерживать IE6. Из-за этого такой ужасный пожход к верстке *
*/

body {
	font-size: 12px;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
}

.vertical {
	width: 67px;
	height: 116px;
}

.horizontal {
	width: 116px;
	height: 67px;
}

.event {
	width: 116px;
	height: 116px;
}

.exchange {
	width: 108px;
	height: 108px;
}

#center {
	width: 218px;
	height: 218px;
}

#exchange {
	width: 438px;
	height: 438px;
	margin: 0 auto;
}

.horizont {
	display: block;
}

.game_pole {
	display: table;
	margin: 0 auto; 
	position: relative;
}

#office {
	width: 86px;
	height: 170px;
	border: 1px solid #111;
	position: absolute;
	margin-top: -85px;
	top: 50%;
	left: 117px;
}

#chance {
	width: 175px;
	height: 88px;
	border: 1px solid #111;
	margin-left: -86px;
	position: absolute;
	top: 117px;
	left: 50%;

}

#force_major {
	width: 87px;
	height: 170px;
	border: 1px solid #111;
	position: absolute;
	margin-top: -85px;
	top: 50%;
	right: 117px;
}

#up, #down {
	height: 18px;
	color: #fff;
	font-family: Arial;
	font-size: 0.9em;
	text-align: center;
	text-transform: uppercase;
	background-color: #111;
}

#up, #down > td {
	width: 86px;
}

#center {
	height: 135px;
	text-align: center;
}

#chance_center {
	width: 135px;
	text-align: center;
}

#left, #right {
	width: 17px;
	height: 86px;
	color: #fff;
	font-family: Arial;
	font-size: 0.9em;
	text-align: center;
	text-transform: uppercase;
	background-color: #111;
}

a.game-manual {
	position: absolute;
	margin: 0 auto; 
	font-family: arial;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: -1px;
	text-decoration: none;
	text-align:center;
	display:block;
	width:150px;
	color: #888888;
	position: relative;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}

a.game-manual:hover {
	color: #444444;
	background:rgba(0,0,0,0.1);
}

a.game-manual::after {
	left: -20px;
  	-webkit-transition-property: left, opacity, top;
   	-moz-transition-property: left, opacity, top;
   	-o-transition-property: left, opacity, top;
   	transition-property: left, opacity, top;
   	-webkit-transition-duration: .2s, .2s, .2s;
   	-moz-transition-duration: .2s, .2s, .2s;
   	-o-transition-duration: .2s, .2s, .2s;
   	transition-duration: .2s, .2s, .2s;
   	content: "";
   	width: 12px;
   	height: 12px;
   	background: transparent;
   	position: absolute;
   	border-left: 5px solid #444444;
   	border-top: 5px solid #444444;
   	top: -22px;
   	opacity: 0;
}

a.game-manual:hover:after {
   	left: -10px;
   	top: -12px;
   	opacity: 1;
}

a.game-manual:before {
   	right: -20px;
   	-webkit-transition-property: right, opacity, top;
   	-moz-transition-property: right, opacity, top;
  	-o-transition-property: right, opacity, top;
   	transition-property: right, opacity, top;
   	-webkit-transition-duration: .2s, .2s, .2s;
   	-moz-transition-duration: .2s, .2s, .2s;
   	-o-transition-duration: .2s, .2s, .2s;
   	transition-duration: .2s, .2s, .2s;
   	content: "";
   	width: 12px;
   	height: 12px;
   	background: transparent;
   	position: absolute;
   	border-right: 5px solid #444444;
   	border-top: 5px solid #444444;
   	top: -22px;
   	opacity: 0;
}

a.game-manual:hover:before {
   	right: -10px;
   	top: -12px;
   	opacity: 1;
}

.game-manual-span:after {
   	left: -20px;
   	-webkit-transition-property: left, opacity, bottom;
   	-moz-transition-property: left, opacity, bottom;
   	-o-transition-property: left, opacity, bottom;
   	transition-property: left, opacity, bottom;
   	-webkit-transition-duration: .2s, .2s, .2s;
   	-moz-transition-duration: .2s, .2s, .2s;
   	-o-transition-duration: .2s, .2s, .2s;
   	transition-duration: .2s, .2s, .2s;
   	content: "";
   	width: 12px;
   	height: 12px;
   	background: transparent;
   	position: absolute;
   	border-left: 5px solid #444444;
   	border-bottom: 5px solid #444444;
   	bottom: -24px;
   	opacity: 0;
}

.game-manual-span:hover:after {
   	left: -10px;
   	bottom: -14px;
   	opacity: 1;
}

.game-manual-span:before {
   	right: -20px;
   	-webkit-transition-property: right, opacity, bottom;
   	-moz-transition-property: right, opacity, bottom;
   	-o-transition-property: right, opacity, bottom;
   	transition-property: right, opacity, bottom;
   	-webkit-transition-duration: .2s, .2s, .2s;
   	-moz-transition-duration: .2s, .2s, .2s;
   	-o-transition-duration: .2s, .2s, .2s;
   	transition-duration: .2s, .2s, .2s;
   	content: "";
   	width: 12px;
   	height: 12px;
   	background: transparent;
   	position: absolute;
   	border-right: 5px solid #444444;
   	border-bottom: 5px solid #444444;
   	bottom: -24px;
   	opacity: 0;
}

.game-manual-span:hover:before {
   	right: -10px;
   	bottom: -14px;
   	opacity: 1;
}

/*

<div class="first-face">
  <span class="pip"></span>
</div>
<div class="second-face">
  <span class="pip"></span>
  <span class="pip"></span>
</div>
<div class="third-face">
  <span class="pip"></span>
  <span class="pip"></span>
  <span class="pip"></span>
</div>
<div class="fourth-face">
  <div class="column">
    <span class="pip"></span>
    <span class="pip"></span>
  </div>
  <div class="column">
    <span class="pip"></span>
    <span class="pip"></span>
  </div>
</div>
<div class="fifth-face">
  <div class="column">
    <span class="pip"></span>
    <span class="pip"></span>
  </div>
  <div class="column">
    <span class="pip"></span>
  </div>
  <div class="column">
    <span class="pip"></span>
    <span class="pip"></span>
  </div>
</div>
<div class="sixth-face">
  <div class="column">
    <span class="pip"></span>
    <span class="pip"></span>
    <span class="pip"></span>
  </div>
  <div class="column">
    <span class="pip"></span>
    <span class="pip"></span>
    <span class="pip"></span>
  </div>
</div>

*/

.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face {
  display: flex;
  justify-content: space-between;
}

.second-face .pip:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}
  
.third-face .pip:nth-of-type(2) {
  align-self: center;
}

.third-face .pip:nth-of-type(3) {
  align-self: flex-end;
}

.fourth-face, .sixth-face {
  display: flex;
  justify-content: space-between;
}

.fourth-face .column, .sixth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face {
  display: flex;
  justify-content: space-between;
}
  
.fifth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}

* {
  box-sizing: border-box;
}

[class$="face"] {
  margin: 16px;
  padding: 4px;
  
  background-color: #e7e7e7;
  width: 104px;
  height: 104px;
  object-fit: contain;
  
  box-shadow:
    inset 0 5px white, 
    inset 0 -5px #bbb,
    inset 5px 0 #d7d7d7, 
    inset -5px 0 #d7d7d7;
  
  border-radius: 10%;
}

.pip {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 4px;

  background-color: #333;
  box-shadow: inset 0 3px #111, inset 0 -3px #555;
}


.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Arial", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}


.manager-card {
  position: relative;
  background: #fff;
  margin: 15px;
  height: 400px;
  width: 270px;
}
.manager-card:before {
  display: block;
  position: absolute;
  content: " ";
  height: 370px;
  width: 240px;
  border: solid 1px #000;
  margin: 15px;
}
.manager-card:after {
  display: block;
  position: absolute;
  content: " ";
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  content: "1935-2017 Hasbo";
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}
.manager-card_title {
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  height: 70px;
  border: solid 2px #000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  padding: 33px 0;
}
.manager-card_title:before {
  display: block;
  position: absolute;
  content: " ";
  content: "Title deed";
  top: 8px;
  width: 100%;
  font-size: 15px;
}
.manager-card_title.red {
  background: red;
}
.manager-card_title.blue {
  background: blue;
}
.manager-card_title.green {
  background: green;
}
.manager-card_content {
  position: absolute;
  padding: 3px;
  bottom: 30px;
  right: 25px;
  top: 105px;
  left: 25px;
}
.manager-card_content .description {
  display: inline-block;
  height: 26px;
  width: 70%;
}
.manager-card_content .manager-money {
  float: right;
}
.manager-card_footer {
  position: absolute;
  padding: 10px 3px 3px 3px;
  right: 25px;
  top: 300px;
  left: 25px;
  border-top: solid 1px #000;
}
.manager-card_footer .description {
  display: inline-block;
  height: 29px;
  width: 50%;
}
.manager-card_footer .manager-money {
  float: right;
}

.manager-money {
  position: relative;
  display: inline-block;
}
.manager-money:before {
  display: block;
  position: absolute;
  content: " ";
  position: relative;
  display: inline-block;
  content: "M";
}
.manager-money:after {
  display: block;
  position: absolute;
  content: " ";
  position: absolute;
  display: block;
  top: 7px;
  left: -1px;
  height: 4px;
  width: 15px;
  content: " ";
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}
