/*
* Прототип *
* Думали, что будем поддерживать IE6. Из-за этого такой ужасный пожход к верстке *
*/

body {
	font-size: 12px;
}

.container-inner {
	width: 100%;
	height: 100%;
	margin: 0 auto; 
}

table {
	border-collapse: collapse;
	table-layout: fixed;
}

td {
	position: relative;
}

.vertical {
	width: 7,9289%; /* 67px */
	height: 13,6792%; /* 116px */
}

.horizontal {
	width: 13,6792%; /* 116px */
	height: 7,9289%; /* 67px */
}

.event {
	width: 13,6792%; /* 116px */
	height: 13,6792%; /* 116px */
}

.exchange {
	width: 12,7810%; /* 108px */
	height: 12,7810%; /* 108px */
}

#center {
	width: 25,7988%; /* 218px */
	height: 25,7988%; /* 218px */
}

#exchange {
	width: 51,8343%; /* 438px */
	height: 51,8343%; /* 438px */
	margin: 0 auto;
}

#exchange {
	margin: 14%;
}

.horizont {
	display: block;
}

.game_pole {
	display: table;
	margin: 0 auto; 
	position: relative;
}

#office {
	width: 10,1775%; /* 86px */
	height: 20,0471%; /* 170px */
	border: 1px solid #111;
	position: absolute;
	margin-top: 10,0235%; /* -85px */
	top: 50%;
	left: 13,8461%; /* 117px */
}

#chance {
	width: 20,7100%; /* 175px */
	height: 10,3773%; /* 88px */
	border: 1px solid #111;
	margin-left: -10,1775%; /* -86px */
	position: absolute;
	top: 13,7971%; /* 117px */
	left: 50%;
}

#force_major {
	width: 10,2958%; /* 87px */
	height: 20,0471%; /* 170px */
	border: 1px solid #111;
	position: absolute;
	margin-top: -10,0235%; /* -85px */
	top: 50%;
	right: 13,8461%; /* 117px */
}

#up, #down {
	height: 2,1226%; /* 18px */ 
	color: #fff;
	font-family: Arial;
	font-size: 0.9em;
	text-align: center;
	text-transform: uppercase;
	background-color: #111;
}

#up, #down > td {
	width: 10,1775%; /* 86px */
}

#center {
	height: 15,9763%; /* 135px */
	text-align: center;
}

#chance_center {
	width: 15,9763%; /* 135px */
	text-align: center;
}

#left, #right {
	width: 2,0201%; /* 17px */
	height: 10,1415%; /* 86px */
	color: #fff;
	font-family: Arial;
	font-size: 0.9em;
	text-align: center;
	text-transform: uppercase;
	background-color: #111;
}

/* Цвет полос */
.light-blue-color {
	background-color: #01b0f1;
}

.light-green-color {
	background-color: #91d14e;
}

.green-color {
	background-color: #007634;
}

.yellow-color {
	background-color: #feff00;
}

.red-color {
	background-color: #fd0000;
}

.blue-color {
	background-color: #0071c1;
}

.orange-color {
	background-color: #ffc000;
}

.maroon-color {
	background-color: #782f28;
}

.black-color {
	background-color: #000000;	
}

.btn {
    border: none;
    color: white;
    font-size: 1.2em;
    text-align: center;
    padding: .6em 4.18em;
    text-decoration: none;
    display: inline-block;
    background-color: #000000;   
   	text-transform: uppercase;
}

.start-btn {
	position: absolute;
	bottom: .4em; /* 5px */
	left: 50%; 
	margin-left: -5.76em; /* -68px */
	letter-spacing: 1px;
	background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%);
	background-repeat: no-repeat;
	background-size: 200% 100%, auto;
	background-position: 200% 0, 0 0;
	box-shadow: rgba(0,0,0,.3) 0 2px 5px;
}					

.start-btn:hover {
	cursor: pointer;
}

.start-btn:active {
  transition: .5s linear;
  background-position: -200% 0, 0, 0;
}

a.game-manual {
	position: absolute;
	margin: 0 auto; 
	font-family: arial;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: -1px;
	text-decoration: none;
	text-align:center;
	display:block;
	width:150px;
	color: #888888;
	position: relative;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}

a.game-manual:hover {
	color: #444444;
	background:rgba(0,0,0,0.1);
}

a.game-manual::after {
	left: -20px;
  	-webkit-transition-property: left, opacity, top;
   	-moz-transition-property: left, opacity, top;
   	-o-transition-property: left, opacity, top;
   	transition-property: left, opacity, top;
   	-webkit-transition-duration: .2s, .2s, .2s;
   	-moz-transition-duration: .2s, .2s, .2s;
   	-o-transition-duration: .2s, .2s, .2s;
   	transition-duration: .2s, .2s, .2s;
   	content: "";
   	width: 12px;
   	height: 12px;
   	background: transparent;
   	position: absolute;
   	border-left: 5px solid #444444;
   	border-top: 5px solid #444444;
   	top: -22px;
   	opacity: 0;
}

a.game-manual:hover:after {
   	left: -10px;
   	top: -12px;
   	opacity: 1;
}

a.game-manual:before {
   	right: -20px;
   	-webkit-transition-property: right, opacity, top;
   	-moz-transition-property: right, opacity, top;
  	-o-transition-property: right, opacity, top;
   	transition-property: right, opacity, top;
   	-webkit-transition-duration: .2s, .2s, .2s;
   	-moz-transition-duration: .2s, .2s, .2s;
   	-o-transition-duration: .2s, .2s, .2s;
   	transition-duration: .2s, .2s, .2s;
   	content: "";
   	width: 12px;
   	height: 12px;
   	background: transparent;
   	position: absolute;
   	border-right: 5px solid #444444;
   	border-top: 5px solid #444444;
   	top: -22px;
   	opacity: 0;
}

a.game-manual:hover:before {
   	right: -10px;
   	top: -12px;
   	opacity: 1;
}

.game-manual-span:after {
   	left: -20px;
   	-webkit-transition-property: left, opacity, bottom;
   	-moz-transition-property: left, opacity, bottom;
   	-o-transition-property: left, opacity, bottom;
   	transition-property: left, opacity, bottom;
   	-webkit-transition-duration: .2s, .2s, .2s;
   	-moz-transition-duration: .2s, .2s, .2s;
   	-o-transition-duration: .2s, .2s, .2s;
   	transition-duration: .2s, .2s, .2s;
   	content: "";
   	width: 12px;
   	height: 12px;
   	background: transparent;
   	position: absolute;
   	border-left: 5px solid #444444;
   	border-bottom: 5px solid #444444;
   	bottom: -24px;
   	opacity: 0;
}

.game-manual-span:hover:after {
   	left: -10px;
   	bottom: -14px;
   	opacity: 1;
}

.game-manual-span:before {
   	right: -20px;
   	-webkit-transition-property: right, opacity, bottom;
   	-moz-transition-property: right, opacity, bottom;
   	-o-transition-property: right, opacity, bottom;
   	transition-property: right, opacity, bottom;
   	-webkit-transition-duration: .2s, .2s, .2s;
   	-moz-transition-duration: .2s, .2s, .2s;
   	-o-transition-duration: .2s, .2s, .2s;
   	transition-duration: .2s, .2s, .2s;
   	content: "";
   	width: 12px;
   	height: 12px;
   	background: transparent;
   	position: absolute;
   	border-right: 5px solid #444444;
   	border-bottom: 5px solid #444444;
   	bottom: -24px;
   	opacity: 0;
}

.game-manual-span:hover:before {
   	right: -10px;
   	bottom: -14px;
   	opacity: 1;
}

/* Стиль текста */
.text-style {
	font-family: "Arial";
	font-size: 9px;
	color: rgba(62, 58, 58, .9);
	font-weight: 600;
	text-transform: uppercase;
}

.stock-market-message {
	font-family: "Arial";
	font-size: 9px;
	text-transform: uppercase;
}

.transform90deg {
	transform: rotate(90deg);
}

.transform-90deg {
	transform: rotate(-90deg);
}

.transform180deg {
	transform: rotate(180deg);
}
