/*
* Прототип *
* Думали, что будем поддерживать IE6. Из-за этого такой ужасный пожход к верстке *
*/

body {
	font-size: 12px;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
}

.vertical {
	width: 7,9289%; /* 67px */
	height: 13,6792%; /* 116px */
}

.horizontal {
	width: 13,6792%; /* 116px */
	height: 7,9289%; /* 67px */
}

.event {
	width: 13,6792%; /* 116px */
	height: 13,6792%; /* 116px */
}

.exchange {
	width: 12,7810%; /* 108px */
	height: 12,7810%; /* 108px */
}

#center {
	width: 25,7988%; /* 218px */
	height: 25,7988%; /* 218px */
}

#exchange {
	width: 51,8343%; /* 438px */
	height: 51,8343%; /* 438px */
	margin: 0 auto;
}

.horizont {
	display: block;
}

.game_pole {
	display: table;
	margin: 0 auto; 
	position: relative;
}

#office {
	width: 86px;
	height: 170px;
	border: 1px solid #111;
	position: absolute;
	margin-top: -85px;
	top: 50%;
	left: 117px;
}

#chance {
	width: 175px;
	height: 88px;
	border: 1px solid #111;
	margin-left: -86px;
	position: absolute;
	top: 117px;
	left: 50%;

}

#force_major {
	width: 87px;
	height: 170px;
	border: 1px solid #111;
	position: absolute;
	margin-top: -85px;
	top: 50%;
	right: 117px;
}

#up, #down {
	height: 18px;
	color: #fff;
	font-family: Arial;
	font-size: 0.9em;
	text-align: center;
	text-transform: uppercase;
	background-color: #111;
}

#up, #down > td {
	width: 10,1775%; /* 86px */
}

#center {
	height: 15,9763%; /* 135px */
	text-align: center;
}

#chance_center {
	width: 15,9763%; /* 135px */
	text-align: center;
}

#left, #right {
	width: 17px;
	height: 86px;
	color: #fff;
	font-family: Arial;
	font-size: 0.9em;
	text-align: center;
	text-transform: uppercase;
	background-color: #111;
}

/* Цвет полос */
.light-blue-color {
	background-color: #01b0f1;
}

.light-green-color {
	background-color: #91d14e;
}

.green-color {
	background-color: #007634;
}

.yellow-color {
	background-color: #feff00;
}

.red-color {
	background-color: #fd0000;
}

.blue-color {
	background-color: #0071c1;
}

.orange-color {
	background-color: #ffc000;
}

.maroon-color {
	background-color: #782f28;
}

.black-color {
	background-color: #000000;	
}

/* Стиль текста */
.text-style {
	font-family: "Arial";
	font-size: 9px;
	color: rgba(62, 58, 58, .9);
	font-weight: 600;
	text-transform: uppercase;
}
